In [1]:
import pandas as pd
import requests
from datetime import date

In [2]:
base = 'https://api.coindesk.com/v1/bpi/historical/close.json?'
start_date = '2020-01-01'
end_date = str(date.today())
url = base + 'start=' + start_date + '&end=' + end_date
print(url)

https://api.coindesk.com/v1/bpi/historical/close.json?start=2020-01-01&end=2020-12-23

In [3]:
df = pd.read_json(url)
df.reset_index(inplace = True)
df.drop(columns = ['disclaimer','time'], inplace = True)
df.rename(columns = {'index': 'date','bpi': 'price'}, inplace = True)
df = df[df['price'].notnull()]
df.head()

         date      price
0  2020-01-01  7188.4633
1  2020-01-02  6961.5683
2  2020-01-03  7346.5800
3  2020-01-04  7355.8550
4  2020-01-05  7356.3117

In [4]:
df.tail()

           date       price
352  2020-12-18  23133.2867
353  2020-12-19  23835.3050
354  2020-12-20  23458.9967
355  2020-12-21  22718.2250
356  2020-12-22  23817.3067